@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loading */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #ffffff;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
/* End Loading */

@keyframes slideIn {
  from {
    transform: translateY(100%);
    /* opacity: 0; */
  }
  to {
    transform: translateY(0);
    /* opacity: 1; */
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(0%);
    /* opacity: 0; */
  }
  to {
    transform: translateY(30%);
    /* opacity: 1; */
  }
}

.transition-search {
  animation: slideIn 1s ease;
}

.transition-search-bottom {
  animation: slideInBottom 1s ease;
}

.overlay {
  position: fixed; /* Cho phần tử overlay cố định ở vị trí trên cùng của cửa sổ trình duyệt */
  top: 0;
  left: 0;
  width: 100%; /* Chiều rộng overlay là 100% của cửa sổ trình duyệt */
  height: 100%; /* Chiều cao overlay là 100% của cửa sổ trình duyệt */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Màu nền của overlay, ở đây là màu đen có độ trong suốt 50% */
  z-index: 999; /* Đảm bảo overlay được đặt trên phần còn lại của trang với z-index cao */
}
