/* ComboPriceAnimation.css
@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutToLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  .combo-price-card {
    animation: slideInFromLeft 0.5s ease forwards;
  }
  
  .combo-price-card.hide {
    animation: slideOutToLeft 0.5s ease forwards;
  }
   */